/*!********************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/string-replace-loader/index.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js!./assets/css/challenge-board.scss ***!
  \********************************************************************************************************************************************************************************************************************************/
.chal-desc {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 14px;
}

.chal-desc img {
  max-width: 100%;
  height: auto;
}

.modal-content {
  border-radius: 0px;
  max-width: 1000px;
  padding: 1em;
  margin: 0 auto;
}

.btn-info {
  background-color: #5b7290 !important;
}

.badge-info {
  background-color: #5b7290 !important;
}

.challenge-button {
  border: 0;
}

.solved-challenge {
  background-color: #37d63e !important;
  opacity: 0.4;
  border: none;
}

.corner-button-check {
  margin-top: -10px;
  margin-right: 25px;
  position: absolute;
  right: 0;
}

.key-submit .btn {
  height: 51px;
}
