/* Jumbotron styles
-------------------------------------------------- */

// Move down content because we have a fixed navbar that is 6.5rem tall
main {
  padding-top: 6.5rem;
}

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  text-align: center;

  background-color: var(--bs-dark);
  color: var(--bs-white);
}

@media (min-width: 576px) {
  .jumbotron {
    padding: 4rem 2rem;
  }
}
